@media (max-width: 1920px) and (min-width: 945px)
	body
		background-color 
		header
			border-bottom 3px solid #f2f2f2
			:after
				content '' 
				clear both
				display block 
			.header-wrapper
				margin 30px 0
				.menu
					padding-top 2%
					ul
						li
							display inline-block
							border-bottom 1px solid #999999
							font-weight bold
							margin-right 5%
							a
								
								color #000000
				.profil
					text-align right
					img:nth-child(4)
						position relative
					img:nth-child(5)
						position absolute
						top -25%
						right 0
		article
			.breadcrump
				margin-top 50px
				p
					a
						color #999999
		.title-description-chairs
			margin 40 0 50 0
			h2
				font-size 2.5em
		.description-chairs
			padding 0 20% 0 0
		.classifiers
		.competence
		.edit-all-chairs
			margin-top 6%	
		.classifiers
		.competence
			a
				color #666666
				text-decoration underline
				font-size .7em
				margin-right 1%
			
		.description-chairs-slider
			img
				width 90%
				position relative
			.text-1in-slider
				width 90%
				position absolute
				top 0
				padding 2% 10%
				h3
				p
					color #fff
				p
					font-size 1.1em
		.qualifications
			padding-top 2%
			a
				color #666666
				background-color #ececec
				padding 2%
				border-radius 6px
				margin-right 1%
		.edit-all-chairs
			p
				color #fd5520
				font-size .9em
				display inline-block
				border-bottom 1px dotted #fd5520
		.participants
			.participants-title
				ul
					padding 2% 0 1% 0
					li
						list-style none
						display inline-block
						border-bottom 1px solid #feaa8f
						margin-right 1%
						a
							color #fd5520
			.participants-item
				height 260px
				.title
					font-size .9em
					color #000
					font-weight bold
				.position
				.degree
				.rating
					color #666666
					font-size 0.8em
			
				.humanity
					a
						font-size 0.8em
						color #fd5520
						text-decoration underline
						margin-right 5%
				.rating
					margin-bottom 6%
				.button-quesеstion
					font-size 0.9em
					color #fd5520
					border 1px solid #feaa8f
					border-radius 20px
					padding 10px 15px
					display inline-block 
					margin-bottom 18%
			.button
				a
					border 1px solid #fd5520
					border-radius 20px
					padding 10px 15px
					display inline-block
				#become-a-party
					color #fff
					background-color #fd5520
				#show-all
					color #fd5520
					margin-top 3%
			.popular-courses
				h2
					margin 6% 0
				.courses-item
					box-shadow 0px 0px 20px 0px #ccd9e4
					padding 30px 25px
					margin-top 8%
					background-image url("../img/star.png")
					background-repeat no-repeat
					background-position top right
					p 
						color #666666
						font-size 0.9 em
					h4
						a
							color #000000
							text-decoration underline
							font-size 1.1em
					p
						a
							color #666666
							text-decoration underline
							font-size 0.9em
							padding-right 1%
					p
						span
							color #000
							font-size 1em
							padding-right 4%
			.course-catalog
				a
					color #fd5520
					border 1px solid #fd5520
					border-radius 20px
					padding 10px 30px
					display inline-block
					margin-top 4%
			.bid
				h2
					margin 6% 0 4%
					font-size 2.5em
				p 
					color #fd5520
					background-color #ffe6de
					display inline-block
				p:nth-child(2)
					border-bottom 1px dotted #fd5520
					background-color transparent
					margin-right 2%
				p:nth-child(3)
					padding 10px 5px 
					border-radius 8px
				table
					margin 4% 0
					font-size .9em
					width 100%
					tr
						th
							border-bottom 1px solid #cccccc
							color #8f8f8f
							font-weight none
							padding-right 1%
						td
							padding-right 1%
				.pagination
					width 100%
					a
						color #fd5520
						padding-right 1%
					a.active
					a i
						color #000
		footer
			margin 6% 0
			border-top 2px solid #f2f2f2
			padding-top 4%
			.my-container
				width 1250px
				margin 0 auto
				a
					color #666666
					border-bottom 1px solid #c2c2c2
				p
					color #666666
					a
						font-size 0.8em
				.copyright
					margin-top 2%
					font-size .8em
					
@media (max-width: 944px) and (min-width: 810px)
	.my-col-md-4
		width 33.33333333333333%;			
				
			
					 
						
						
							
					
					