@media (max-width: 1920px) and (min-width: 945px) {
  header .header-wrapper {
    margin-top: 35px;
  }
  header .header-wrapper .menu {
    padding-top: 2%;
  }
  header .header-wrapper .menu ul li {
    display: inline-block;
    border-bottom: 1px solid #999;
    font-weight: bold;
    margin-right: 6%;
  }
  header .header-wrapper .menu ul li a {
    color: #000;
  }
  header .header-wrapper .profil {
    text-align: right;
  }
}
