header{
	
}

nav{

}
nav .collapse ul.nav,
nav .collapse span.profil{
	display: block;
	margin: 1% 0;
}

nav .collapse ul{
	padding: 0 2%;
}

nav .collapse ul.nav > li{
	
}

nav .collapse ul.nav > li > a{
	color: #000;
	margin: 15px 15px;
	padding: 0;
	border-bottom: 1px solid #999999;
	font-weight: bold;
}

nav .collapse span{
	text-align: right;
}

nav .collapse .profil img{
	//width: 80%
}